{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
    <div class="bio-header bio-header-top">
      <div class="col-xs-12 col-sm-3 bio-top-right">
        {% if (content.user_picture.0 != '') and (user.field_use_opic.value == false) %}
          {{ content.user_picture }}
        {% elseif user.field_use_opic.value %}
          <img src="https://opic.osu.edu/{{ content.field_osu_name_num.0 }}?aspect=p&width=300" alt="{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}" />
        {% else %}
          <img src="/themes/asc_bootstrap/images/profile-avatar/user-profile.png" alt="{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}" />
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-5 bio-top-left">
        <h1>
          {{ content.field_first_name.0 }} {{ content.field_last_name.0 }}
        </h1>

        {% if content.field_your_title.0 != '' %}
          <p class="bio-title">
            {{ content.field_your_title.0 }}
              {% if content.field_pronoun.0 != '' %}
                <br/>
                <span class="bio-pronoun">
                  {{ content.field_pronoun.0 }}
                </span>
              {% endif %}
          </p>
        {% endif %}

        {% if content.field_people_hide_email.0['#markup'] != "On" %}
          <p>
            <a href="mailto:{{ user.mail.value }}" title="Email {{ content.field_first_name.0 }} {{ content.field_last_name.0 }}">
              {{ user.mail.value }}
            </a>
          </p>
        {% endif %}

        {% if content.field_phone.0 != '' %}
          <p>
            <a href="tel:{{ content.field_office_number.0 }}" title="Call {{ content.field_first_name.0 }} {{ content.field_last_name.0 }}">
              {{ content.field_phone.0 }}
            </a>
          </p>
        {% endif %}

        {% if (content.field_address.0 != '') or (content.field_room_building.0 != '') %}
          <p>
            {% if content.field_room_building.0 != '' %}
              {{ content.field_room_building.0 }}<br/>
            {% endif %}
            {% if content.field_address.0 != '' %}
              {{ content.field_address.0 }}
            {% endif %}
          </p>
        {% endif %}

      </div>
      <div class="col-xs-12 col-sm-4 bio-info">
        {% if content.field_google_map.0 != '' %}
          {{ content.field_google_map }}
        {% endif %}
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 bio-btm-right">
      {% if content.field_professional_website.0 != '' %}
      <p>
        <a href="{{ content.field_professional_website.0 }}" title="{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}'s Professional Website">
          Professional Website
        </a>
      </p>
    {% endif %}

    {% if content.field_twitter.0 != '' %}
      <a href="https://twitter.com/{{ content.field_twitter.0 }}" title="{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}'s Twitter">
        <img src="/themes/asc_bootstrap/images/social-media/twitter.svg" alt="Twitter logo">
      </a>
    {% endif %}

    {% if content.field_youtube.0 != '' %}
      <a href="https://youtube.com/{{ content.field_youtube.0 }}" title="{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}'s YouTube">
        <img src="/themes/asc_bootstrap/images/social-media/youtube.svg" alt="YouTube logo">
      </a>
    {% endif %}

    {% if content.field_linkedin.0 != '' %}
      <a href="https://linkedin.com/{{ content.field_linkedin.0 }}" title="{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}'s LinkedIn">
        <img src="/themes/asc_bootstrap/images/social-media/linkedin.svg" alt="LinkedIn logo">
      </a>
    {% endif %}

    {% if content.field_office_hours.0 != '' %}
      <h3>Office Hours</h3>
      <p>
        {{ content.field_office_hours.0 }}
      </p>
    {% endif %}
    </div>
    <div class="col-xs-12 col-sm-9 bio-btm-left">
      {% if (content.field_areas_of_expertise.0 != '') or (content.field_education.0 != '') %}
        <div class="bio-header">
          {% if content.field_areas_of_expertise.0 != '' %}
            <div class="col-xs-12 col-sm-6 bio-exp">
              <h2>Areas of Expertise</h2>
                {{ content.field_areas_of_expertise }}
            </div>
          {% endif %}
          {% if content.field_education.0 != '' %}
            <div class="col-xs-12 col-sm-6 bio-edu">
              <h2>Education</h2>
                {{ content.field_education }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if content.field_bio.0 != '' %}
        {{ content.field_bio.0 }}
      {% endif %}

      {% if content.field_user_slideshow.0 != '' %}
        {{ content.field_user_slideshow }}
      {% endif %}

      {% if content.field_research_interests.0 != '' or content.field_other.0 != '' %}
        <div class="taxonomy-people-heading">
          <h2>People Filters:</h2>
        </div>
      {% endif %}

      {% if content.field_research_interests.0 != '' %}
        {% set loopcount = 0 %}
        {% for item in content.field_research_interests %}
          {% if item['#title'] %}
            <div class="research-interests-ppl">
              <a href="/people?field_research_interests_target_id[{{ user.field_research_interests[loopcount].target_id }}]={{ user.field_research_interests[loopcount].target_id }}">
                {{ item['#title'] }}
                {% set loopcount = loopcount + 1 %}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if content.field_other.0 != '' %}
        {% set loopcount = 0 %}
        {% for item in content.field_other %}
          {% if item['#title'] %}
            <div class="research-interests-ppl">
              <a href="/people?field_other_target_id[{{ user.field_other[loopcount].target_id }}]={{ user.field_other[loopcount].target_id }}">
                {{ item['#title'] }}
                {% set loopcount = loopcount + 1 %}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

</article>
